<div class="wrapper">
  <div class="products-list">
    <div class="product-card" *ngFor="let product of products">
      <app-product-card
        [product]="product"
        (addProduct)="addProductToCart($event)"
      ></app-product-card>
    </div>
    <nz-skeleton [nzLoading]="!products" [nzActive]="true"></nz-skeleton>
    <nz-skeleton [nzLoading]="!products" [nzActive]="true"></nz-skeleton>
    <nz-skeleton [nzLoading]="!products" [nzActive]="true"></nz-skeleton>
    <nz-skeleton [nzLoading]="!products" [nzActive]="true"></nz-skeleton>
  </div>
</div>
